<?xml version="1.0"?>
<launch>
  <arg name="robot_ip" default="192.168.1.55" doc="UR10 IP"/>

  <!-- may be needed later for exernal grpper
  <arg name="load_gripper" default="true" doc="franka gripper"/>
  -->

  <!-- Realsense D435i -->
  <include file="$(find ocrtoc_task)/launch/ocrtoc_realsense.launch" />


  <!-- changed to files from universal_robot to get UR10 -->
  <include file="$(find ur_robot_driver)/launch/ur10_bringup.launch" >
    <arg name="robot_ip" value="$(arg robot_ip)"/>
    <arg name="kinematics_config" value="/root/ocrtoc_ws/src/ur10_robot_calibration.yaml" />
    <!--
    <arg name="load_gripper" value="$(arg load_gripper)"/>
    -->
  </include>

</launch>
